# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Ignore all GIMP files
*.xcf
# Ignore binaries and stuff
bin/
# Ignore all swap files
*.swp
# WAVEs needn't be commited as they were uploaded on the release
*.wav
